<p id="notice"><%= notice %></p>

<h1>Match Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_rooms.each do |match_room| %>
      <tr>
        <td><%= match_room.name %></td>
        <td><%= link_to 'Show', match_room %></td>
        <td><%= link_to 'Edit', edit_match_room_path(match_room) %></td>
        <td><%= link_to 'Destroy', match_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Join', match_room_players_path(match_room), method: :post %></td>
        <td><%= link_to 'Leave', match_room_players_path(match_room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match Room', new_match_room_path %>
