<p id="notice"><%= notice %></p>

<p>
  <strong>Match room name:</strong>
  <%= @match_room.name %>
  (<%= @match_room.duration %> s)
  <%= link_to 'Edit', edit_match_room_path(@match_room) %> |
  <%= link_to 'Back', match_rooms_path %>
</p>

<% @match_room.players.each do |player| %>
  <p>
    <strong><%= player.color.capitalize %> pieces:</strong>
    <% player.pieces.each do |piece| %>
      <%= link_to piece.family.capitalize + ' | ' + piece.coordinates, "#{piece.id}" %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Moves:</strong>
  <% @match_room.moves.reverse.each_with_index do |move, i| %>
    <p>
      <%= i + 1 %>: <%= move.notation || 'waiting for ' + move.turn %> (<%= move.duration %> s)
    </p>
  <% end %>
</p>
