<p id="notice"><%= notice %></p>

<p>
  <strong>Game room:</strong>
  <%= @match_room.name %>
  <% if @match_room.ended_at.nil? %>
    (<span data-controller="timer" data-timer-start-value="<%= @match_room.started_at.to_i * 1000 %>" data-timer-refresh-interval-value="1000"></span>)
  <% else %>
    (<%= duration_display @match_room.duration %>)
  <% end %>
</p>

<% if @match_room.players.any? && @player %>

  <p><strong>picked color: <%= @player.color %></strong></p>
  <p>
    <strong><%= 'your pieces:' %></strong>
    <% @player.in_game_pieces.each do |piece| %>
      <% if @player.turn? %>
        <%= link_to "(#{piece.family.capitalize} | #{piece.coordinates})", new_match_room_move_path(@match_room, piece_id: piece.id) %>
      <% else %>
        (<%= piece.family.capitalize + ' | ' + piece.coordinates %>)
      <% end %>
    <% end %>
  </p>

  <p>
    <strong><%= 'opponent: '+ @player.adversary.user.username %></strong> <br>
    <strong><%= 'enemy pieces:' %></strong>
    <% @player.adversary.in_game_pieces.each do |piece| %>
      (<%= piece.family.capitalize + ' | ' + piece.coordinates %>)
    <% end %>
  </p>
<% elsif @match_room.players.any? && @player.nil? %>
  <% @match_room.players.each do |player| %>
    <p>
      <strong><%= 'user: '+ player.user.username %></strong> <br>
      <strong><%= player.color + ' pieces:' %></strong>
      <% player.in_game_pieces.each do |piece| %>
        (<%= piece.family.capitalize + ' | ' + piece.coordinates %>)
      <% end %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Moves:</strong>
  <% @match_room.moves.each_with_index do |move, i| %>
    <p>
      <%= i + 1 %>: <%= move.notation || 'waiting for ' + move.turn %>
      <% if move.ended_at.nil? %>
        (<span data-controller="timer" data-timer-start-value="<%= move.started_at.to_i * 1000 %>" data-timer-refresh-interval-value="1000"></span>)
      <% else %>
        (<%= duration_display move.duration %>)
      <% end %>
    </p>
  <% end %>
</p>
