<p id="notice"><%= notice %></p>

<% if @piece %>
  <h1><%= @piece.player.color %> | <%= @piece.family %> | <%= @piece.coordinates %></h1>
<% else %>
  <h1>Player | <%= @move.player.color %></h1>
<% end %>

<% if @piece %>
  <p>
    <strong>Permitted moves:</strong>
    <% @player_moves.each do |move_notation| %>
      <%= form_with url: move_to_path(@move), method: :put do |f| %>
        <%= f.hidden_field :move_notation, value: move_notation %>
        <%= f.hidden_field :piece_id, value: @piece.id %>
        <%= f.submit move_notation %>
      <% end %>
    <% end %>
  </p>
<% else %>
  <p>
    <strong>Permitted moves:</strong>
    <% @player_moves.each do |piece_id, moves| %>
      <% moves.each do |move_notation| %>
        <%= form_with url: move_to_path(@move), method: :put do |f| %>
          <%= f.hidden_field :move_notation, value: move_notation %>
          <%= f.hidden_field :piece_id, value: piece_id %>
          <%= f.submit move_notation %>
        <% end %>
      <% end %>
    <% end %>
  </p>
<% end %>
